* {
  font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  }

  h1, h3 {
    color: white;
  }
  
  .grid {
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    /* border: solid red; */
  }
  
  .pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
  }
  
  .power-pellet {
    background-color: green;
    border-radius: 10px;
  }
  
  .wall {
    background-color: blue;
  }
  
  .pac-man {
    background-color: rgb(190, 150, 40);
    border-radius: 10px;
  }
  
  .inky {
    background-color: cyan;
  }
  
  .clyde {
    background-color: orange;
  }
  
  .pinky {
    background-color: pink;
  }
  
  .blinky {
    background-color: red;
  }
  
  .scared-ghost {
    background-color: aquamarine;
  }

  button {
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  